@font-face{
    font-family: Marlboro;
    src: url("fonts/Marlboro.ttf");
}

h1 {
  /*font-family: 'Marlboro';*/
  /*font-size: 15vw;*/
  font-size: clamp(10px, 15vw, 36px);
  text-align: center;
  margin-top: 20px;
}

h2 {
  /*font-size: 8vw;*/
  font-size: clamp(5px, 8vw, 24px);
  text-align: center;
  margin-top: 10px;
}

a:link {
  color: grey; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}
