@font-face{
    font-family: Barlow;
    src: url("fonts/BarlowCondensed-Light.ttf");
}

h1 {
  font-family: 'Barlow';
  font-size: 15vw;
  font-size: clamp(10px, 15vw, 72px);
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-family: 'Barlow';
  font-size: 3vw;
  font-size: clamp(5px, 8vw, 60px);
  text-align: center;
  margin-top: 10px;
}

a:link {
  color: grey; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}
