@font-face{
    font-family: Marlboro;
    src: url("fonts/Marlboro.ttf");
}

h1 {
  //font-family: 'Marlboro';
  font-size: 15vw;
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 8vw;
  text-align: center;
  margin-top: 20px;
}

a:link {
  color: grey; 
  background-color: transparent; 
  text-decoration: underline;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}